## Python

### Блок №1  
Исправьте код ниже, чтобы был такой же вывод, как под комментарием

In [14]:
print("I'm a student and I'll become a \"strong\" programmer") #I'm a student and I'll become a "strong" programmer
# Ваш код здесь

print("C:\\Users\\GoodStudent") #C:\Users\GoodStudent
# Ваш код здесь

x = "My name is Agent Smith"
print(x[1]) #y
# Ваш код здесь

print(x[3:16:3]) #nesgt
# Ваш код здесь

I'm a student and I'll become a "strong" programmer
C:\Users\GoodStudent
y
nesgt


### Блок №2

Запрос ввода осуществляется вызовом функции input(). В функцию можно передать строку, которая будет выведена на экран для общения с пользователем, например:

input('Введите ваш возраст')

Ввод пользователя возвращается функцией input в виде строки и может быть присвоен переменной:

age = input('Введите ваш возраст')

Функция input возвращает строку (даже если пользователь ввёл число). Чтобы сконвертировать строку к целому числу, можно сделать следующее:

In [15]:
age_str = input('Введите ваш возраст') # age_str это строка
age = int(age_str) # age это int

Введите ваш возраст1

Напишите код для следующих 2 задач:

In [16]:
1. Клиент покупает кофе в кафе. За каждые 6 чашек, 1 чашка даётся в качестве бонуса.
Задача: запросить у пользователя кол-во чашек на покупку, вычислить полагающееся кол-во бонусных чашек кофе и вывести это число через print().
# Ваш код здесь

2. Запросить у пользователя координаты x и y двух точек на плоскости. Посчитать расстояние между заданными точками и вывести результат.
Примечание: у каждой точки есть две координаты: x и y. Расстояние рассчитывается по формуле, которую вы с лёгкостью найдёте в Интернете.
# Ваш код здесь

SyntaxError: invalid syntax (<ipython-input-16-07b5885e9d0d>, line 1)

In [17]:
cups_by_buyer = int(input('Number of cups: '))
bonus_cups = cups_by_buyer // 6
print(f'Bonus cups: {bonus_cups}')

Number of cups: 345
Bonus cups: 57

In [18]:
import math

dot1_coords = input('Enter coords of the first dot in form \'x y\':')
dot2_coords = input('Enter coords of the second dot in form \'x y\':')

x1, y1 = dot1_coords.split(' ')
x2, y2 = dot2_coords.split(' ')

x1, x2, y1, y2 = int(x1), int(x2), int(y1), int(y2)

print(math.sqrt((x1 - x2)**2 + (y1 - y2)**2))

Enter coords of the first dot in form 'x y':1 2
Enter coords of the second dot in form 'x y':2 1
1.4142135623730951

### Блок №3 (Numpy)

Импортировать NumPy под именем np

In [19]:
import numpy as np

Создать вектор (одномерный массив) размера 10, заполненный нулями

In [20]:
array_zeros = np.zeros(10)
print(array_zeros)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

Создать вектор размера 10, заполненный единицами

In [21]:
array_ones = np.ones(10)
print(array_ones)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

Создать вектор размера 10, заполненный числом 2.5

In [22]:
array1 = [x * 2.5 for x in np.ones(10)]
print(array1)

[2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5]

Создать вектор размера 10, заполненный нулями, но пятый элемент равен 1

In [23]:
array2 = np.zeros(10)
array2[4] = 1
print(array2)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

Развернуть вектор (первый становится последним)

In [24]:
array3 = np.array([1, 2, 3, 4])
array3 = array3[::-1]
print(array3)

[4 3 2 1]

Создать матрицу (двумерный массив) 3x3 со значениями от 0 до 8

In [25]:
matrix = np.arange(9).reshape(3, 3)
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

Найти индексы ненулевых элементов в [1,2,0,0,4,0]

In [26]:
array = np.array([1, 2, 0, 0, 4, 0])
print(array.nonzero()[0])

[0 1 4]

Создать 3x3 единичную матрицу

In [27]:
identity_matrix = np.identity(3)
print(identity_matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Создать массив 3x3x3 со случайными значениями

In [28]:
matrix3x3 = np.random.random((3, 3, 3))
print(matrix3x3)

[[[0.8802579  0.49206055 0.89133777]
  [0.3934443  0.28607466 0.06035285]
  [0.93993333 0.6214709  0.89371557]]

 [[0.74371303 0.96123953 0.53756557]
  [0.22810693 0.1882399  0.50270595]
  [0.71169663 0.58502093 0.58034515]]

 [[0.15713965 0.18246513 0.8587368 ]
  [0.05458974 0.31407414 0.47874532]
  [0.83133896 0.06026924 0.90653343]]]

Перемножить матрицы 5x3 и 3x2

In [29]:
matrix5x2 = np.random.random((5, 3))
print(matrix5x2, end='\n\n')

matrix3x2 = np.random.random((3, 2))
print(matrix3x2, end='\n\n')

print(matrix5x2 @ matrix3x2)

[[0.7990174  0.45722066 0.1437364 ]
 [0.42164078 0.4691654  0.41498979]
 [0.48585898 0.47254214 0.51864865]
 [0.14392155 0.12615709 0.52190879]
 [0.35995777 0.59527507 0.21719314]]

[[0.05719102 0.21557402]
 [0.49079115 0.7781863 ]
 [0.27575542 0.06046044]]

[[0.30973257 0.53674061]
 [0.36881198 0.48108334]
 [0.40272645 0.50382212]
 [0.21406698 0.1607543 ]
 [0.37263427 0.55396404]]

Создать вектор размера 10 со значениями от 0 до 1, не включая ни то, ни другое

In [30]:
array = np.linspace(0, 1, 12)[1:-1]
print(array)

[0.09090909 0.18181818 0.27272727 0.36363636 0.45454545 0.54545455
 0.63636364 0.72727273 0.81818182 0.90909091]

Заменить максимальный элемент на ноль

In [31]:
array[array.argmax()] = 0
print(array)

[0.09090909 0.18181818 0.27272727 0.36363636 0.45454545 0.54545455
 0.63636364 0.72727273 0.81818182 0.        ]

Преобразовать массив из float в int

In [32]:
array = [int(x) for x in array]
print(array)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Найти наиболее частое значение в массиве

In [33]:
array = [int(x * 10) for x in np.random.random(10)]
print(array)

print(np.bincount(array)) # индекс - число, значение - число повторений
print(np.bincount(array).argmax()) # вернёт индекс, знчание которого наибольшее. т.е. самое частое число

[4, 3, 3, 7, 2, 0, 2, 8, 3, 4]
[1 0 2 3 2 0 0 1 1]
3

Найти n наибольших значений в массиве

In [34]:
n = int(input('n: '))
print('Array: ', array)
array.sort()
values = np.unique(array)[::-1]
# print(values)
print(values[0:n])

n: 4
Array:  [4, 3, 3, 7, 2, 0, 2, 8, 3, 4]
[8 7 4 3]

### Блок №4 (Pandas)

Перейти по ссылке [Kaggle]( https://www.kaggle.com/openfoodfacts/world-food-facts). Скачать датасет на свой компьютер и распаковать. Считать csv файл в датафрейм food:

In [2]:
import pandas as pd

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('precision', 2)

food=pd.read_csv('D:\\DA_practice\\archive\\en.openfoodfacts.org.products.tsv',sep='\t')

c:\users\rc199\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

MemoryError: Unable to allocate 291. MiB for an array with shape (107, 356027) and data type float64

Посмотреть первые 5 записей

In [38]:
food.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,packaging,packaging_tags,brands,brands_tags,categories,categories_tags,categories_en,origins,origins_tags,manufacturing_places,manufacturing_places_tags,labels,labels_tags,labels_en,emb_codes,emb_codes_tags,first_packaging_code_geo,cities,cities_tags,purchase_places,stores,countries,countries_tags,countries_en,ingredients_text,allergens,allergens_en,traces,traces_tags,traces_en,serving_size,no_nutriments,additives_n,additives,additives_tags,additives_en,ingredients_from_palm_oil_n,ingredients_from_palm_oil,ingredients_from_palm_oil_tags,ingredients_that_may_be_from_palm_oil_n,...,casein_100g,serum-proteins_100g,nucleotides_100g,salt_100g,sodium_100g,alcohol_100g,vitamin-a_100g,beta-carotene_100g,vitamin-d_100g,vitamin-e_100g,vitamin-k_100g,vitamin-c_100g,vitamin-b1_100g,vitamin-b2_100g,vitamin-pp_100g,vitamin-b6_100g,vitamin-b9_100g,folates_100g,vitamin-b12_100g,biotin_100g,pantothenic-acid_100g,silica_100g,bicarbonate_100g,potassium_100g,chloride_100g,calcium_100g,phosphorus_100g,iron_100g,magnesium_100g,zinc_100g,copper_100g,manganese_100g,fluoride_100g,selenium_100g,chromium_100g,molybdenum_100g,iodine_100g,caffeine_100g,taurine_100g,ph_100g,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,NaN,NaN,Ferme t'y R'nao,ferme-t-y-r-nao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en:FR,en:france,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,en:united-states,United States,"Bananas, vegetable oil (coconut oil, corn oil ...",NaN,NaN,NaN,NaN,NaN,28 g (1 ONZ),NaN,0.0,[ bananas -> en:bananas ] [ vegetable-oil -...,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,0.00,0.00,NaN,0.0,NaN,NaN,NaN,NaN,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,1.29e-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,NaN,NaN,Torn & Glasser,torn-glasser,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,en:united-states,United States,"Peanuts, wheat flour, sugar, rice flour, tapio...",NaN,NaN,NaN,NaN,NaN,28 g (0.25 cup),NaN,0.0,[ peanuts -> en:peanuts ] [ wheat-flour -> ...,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,0.64,0.25,NaN,0.0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.07,NaN,1.29e-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,NaN,NaN,Grizzlies,grizzlies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,en:united-states,United States,"Organic hazelnuts, organic cashews, organic wa...",NaN,NaN,NaN,NaN,NaN,28 g (0.25 cup),NaN,0.0,[ organic-hazelnuts -> en:organic-hazelnuts ...,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,1.22,0.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.14,NaN,5.14e-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,NaN,NaN,Bob's Red Mill,bob-s-red-mill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,en:united-states,United States,Organic polenta,NaN,NaN,NaN,NaN,NaN,35 g (0.25 cup),NaN,0.0,[ organic-polenta -> en:organic-polenta ] [...,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Сколько наблюдений в наборе данных?

In [39]:
food.shape[0]

356027

Сколько столбцов в наборе данных?

In [40]:
food.shape[1]

163

Напечатайте все названия столбцов

In [41]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

Какое название у 105 столбца?

In [42]:
food.columns[105]

'-fructose_100g'

Какой тип наблюдений в 105 столбце?

In [43]:
food[food.columns[105]].dtype

dtype('float64')

Каково значение имени продукта в 19-м наблюдении?

In [44]:
food.iloc[19,:]['product_name']

'Organic Oat Groats'

### Блок №5 (Pandas - фильтрация данных)

Считать данные по  [адресу](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
Присвоить переменной chipo

In [3]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

In [46]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Как много продуктов стоят более чем $10.00?

In [6]:
len(chipo[chipo['item_price'].apply(lambda price: float(price[1:]) >= 10)])

1130

Какова цена каждого предмета? Напечатать столбцы item_name и item_price

In [48]:
chipo.loc[:, ['item_name', 'item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

Сколько было заказано самого дорогого предмета?

In [49]:
prices = [float(price[1:]) for price in chipo['item_price']]

highest_price = prices[np.argmax(prices)]

chipo[chipo['item_price'].apply(lambda price: float(price[1:]) == highest_price)]['quantity']

3598    15
Name: quantity, dtype: int64

Сколько раз был заказан предмет "Veggie Salad Bowl"?

In [50]:
sum(chipo[chipo['item_name'].apply(lambda name: name == 'Veggie Salad Bowl')]['quantity'])

18

Сколько раз люди заказали более чем 1 предмет "Canned Soda"?

In [51]:
len(chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)])

20